html,
body {
  /* constants */
  /* colors */
  --colors-gray: #242629;
  --colors-gray-dark: #16161a;
  --colors-gray-light: #94a1b2;
  --colors-purple: #7f5af0;
  --colors-white: #fffffe;
  --colors-green: #2cb67d;
  /* spaces */
  --spaces-xs: 0.25rem;
  --spaces-sm: 0.5rem;
  --spaces-md: 1rem;
  --spaces-lg: 2rem;
  --spaces-xl: 3rem;
  /* font weights */
  --font-weights-bold: bold;

  /* theme */
  --colors-background: var(--colors-gray);
  --colors-background-dark: var(--colors-gray-dark);
  --colors-primary: var(--colors-purple);
  --colors-text: var(--colors-white);
  --colors-dimmed-text: var(--colors-gray-light);
  --colors-tertiary: var(--colors-green);
  --border-radius: 0.25rem;

  padding: 0;
  margin: 0;
  font-family: Helvetica;
  background-color: var(--colors-background);
  color: var(--colors-text);
}

a {
  color: var(--colors-primary);
  text-decoration: underline;
}

input {
  border-style: none;
  border-radius: var(--border-radius);
  background-color: var(--colors-background-dark);
  padding: var(--spaces-md);
  color: var(--colors-text);
  font-size: 1rem;
}

button {
  border-style: none;
  border-radius: var(--border-radius);
  background-color: var(--colors-primary);
  padding: var(--spaces-md);
  color: var(--colors-text);
  font-weight: var(--font-weights-bold);
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}
